.card {
  min-width: auto;
  min-width: 280px;
  max-width: 280px;
  margin-bottom: 40px;
}

.card-header {
  background-color: skyblue;
}
.internHeader {
  background-color: powderblue;
}
.managerCard {
  min-width: 280px;
  max-width: 280px;
  max-height: 310px;
  margin-bottom: 30px;
}
.managerHeader {
  background-color: steelblue;
}

.team-area {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
